
@import url('https://fonts.googleapis.com/css?family=Raleway:200,100,400');

body {
  font-family: 'Raleway', sans-serif;
  height: 100vh;
  background: #333 url('https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/38227575_10217303738844442_5905091144462630912_n.jpg?_nc_cat=108&oh=73590d80f4445b78ccd4a4d8099cd669&oe=5C54070B') no-repeat center center;
  color: rgb(28, 5, 63);
  overflow: hidden;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 3rem;
}

h1,
h2 {
  font-weight: 200;
  margin: 0.4rem;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2rem;
  color: rgb(21, 6, 48);
  text-align: center;
}

span {
  font-size: 100px;
  color: red;
}

/* Cursor */
.txt-type>.txt {
  border-right: 0.2rem solid rgb(10, 1, 10);
}

@media(min-width: 1200px) {
  h1 {
    font-size: 5rem;
  }
}

@media(max-width: 800px) {
  .container {
    padding: 0 1rem;
  }

  h1 {
    font-size: 3rem;
  }
}

@media(max-width: 500px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }
}